@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-jelly-bean-700 text-white m-0;
    }
}

@layer {
    /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
}

@layer {
  .special-behavior {}
}